<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product
    Id="*"
    Name="Overwatch"
    Manufacturer="Reak"
    Version="1.0.0"
    Language="1033"
    UpgradeCode="PUT-GUID-HERE">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine"/>

    <MediaTemplate/>

    <!-- MAIN INSTALL DIRECTORY -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Overwatch"/>
      </Directory>

      <Directory Id="CommonDesktopFolder"/>
      <Directory Id="ProgramMenuFolder"/>
    </Directory>

    <!-- MAIN APP FILE -->
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="MainExe" Guid="*">
        <File Source="msi\layout\appproject-overwatch.exe" KeyPath="yes"/>
        <RegistryValue Root="HKLM"
          Key="Software\Reak\Overwatch"
          Name="Installed"
          Type="integer"
          Value="1"/>
      </Component>
    </DirectoryRef>

    <!-- DESKTOP SHORTCUT -->
    <DirectoryRef Id="CommonDesktopFolder">
      <Component Id="DesktopShortcut" Guid="*">
        <Shortcut
          Id="DesktopShortcut"
          Name="Overwatch"
          Target="[INSTALLDIR]appproject-overwatch.exe"
          WorkingDirectory="INSTALLDIR"/>
        <RegistryValue Root="HKLM"
          Key="Software\Reak\Overwatch"
          Name="DesktopShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- START MENU SHORTCUT -->
    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="StartMenuShortcut" Guid="*">
        <Directory Id="AppStartMenuDir" Name="Overwatch"/>
        <Shortcut
          Id="StartMenuShortcut"
          Directory="AppStartMenuDir"
          Name="Overwatch"
          Target="[INSTALLDIR]appproject-overwatch.exe"
          WorkingDirectory="INSTALLDIR"/>
        <RemoveFolder Id="RemoveStartMenuDir" Directory="AppStartMenuDir" On="uninstall"/>
        <RegistryValue Root="HKLM"
          Key="Software\Reak\Overwatch"
          Name="StartMenuShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- AUTO START -->
    <Component Id="AutoStart" Guid="*">
      <RegistryValue Root="HKLM"
        Key="Software\Microsoft\Windows\CurrentVersion\Run"
        Name="Overwatch"
        Type="string"
        Value="[INSTALLDIR]appproject-overwatch.exe"/>
    </Component>

    <!-- FEATURE -->
    <Feature Id="MainFeature" Title="Overwatch" Level="1">
      <ComponentRef Id="MainExe"/>
      <ComponentRef Id="DesktopShortcut"/>
      <ComponentRef Id="StartMenuShortcut"/>
      <ComponentRef Id="AutoStart"/>
    </Feature>

  </Product>

</Wix>
