name: Windows Qt Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    env:
      QT_VERSION: 6.8.3
      BUILD_DIR: build
      APP_NAME: appproject-overwatch.exe

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Python & aqtinstall
        run: |
          python -m pip install --upgrade pip
          pip install aqtinstall==3.3.0

      - name: Set QT_DIR (Correct way)
        run: echo "QT_DIR=$env:RUNNER_TEMP\Qt" >> $env:GITHUB_ENV
        shell: pwsh

      - name: Install Qt (MSVC 2022)
        shell: pwsh
        run: |
          aqt install-qt windows desktop $env:QT_VERSION win64_msvc2022_64 --outputdir "$env:QT_DIR" `
            --modules qtcharts qtmultimedia qtshadertools

      - name: Add Qt to PATH
        shell: pwsh
        run: |
          echo "QtBinPath=$env:QT_DIR\$env:QT_VERSION\msvc2022_64\bin" >> $env:GITHUB_ENV
          echo "CMAKE_PREFIX_PATH=$env:QT_DIR\$env:QT_VERSION\msvc2022_64" >> $env:GITHUB_ENV

      - name: Configure CMake
        shell: pwsh
        run: |
          cmake -S . -B $env:BUILD_DIR `
            -G "Visual Studio 17 2022" `
            -A x64 `
            -DCMAKE_PREFIX_PATH="$env:CMAKE_PREFIX_PATH"

      - name: Build (Release)
        shell: pwsh
        run: cmake --build $env:BUILD_DIR --config Release
        
      

      - name: Deploy Qt (windeployqt)
        shell: pwsh
        run: |
          & "$env:QtBinPath\windeployqt.exe" `
          "$env:BUILD_DIR\Release\$env:APP_NAME" `
          --release `
          --qmldir "$env:GITHUB_WORKSPACE/QML"

            
      - name: Package Artifact
        shell: pwsh
        run: |
          cd "$env:BUILD_DIR\Release"
          Compress-Archive -Path * -DestinationPath "$env:GITHUB_WORKSPACE\appproject-overwatch.zip"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: appproject-overwatch-windows
          path: appproject-overwatch.zip

