name: Windows Qt CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    env:
      QT_VERSION: 6.8.3
      BUILD_DIR: build
      GENERATOR: "Ninja"

    steps:
      - name: Checkout repository with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Python & aqt
        run: |
          python -m pip install --upgrade pip
          pip install aqtinstall
          choco install ninja

      - name: Install Qt 6.8.3 MSVC 2022
        run: |
          aqt install-qt windows desktop 6.8.3 win64_msvc2022_64 --modules qtcharts qtmultimedia  qtshadertools


      - name: Configure CMake
        run: |
          cmake -S . -B %BUILD_DIR% ^
            -G "%GENERATOR%" ^
            -DCMAKE_PREFIX_PATH=%CD%\Qt\%QT_VERSION%\msvc2022_64

      - name: Build project
        run: cmake --build %BUILD_DIR% --config Release

      - name: Deploy Qt dependencies (windeployqt)
        run: |
          "%CD%\Qt\%QT_VERSION%\msvc2022_64\bin\windeployqt.exe" ^
            --release ^
            --dir %BUILD_DIR%\Release\deploy ^
            %BUILD_DIR%\Release\appproject-overwatch.exe

      - name: Zip the deployment folder
        run: |
          powershell Compress-Archive -Path %BUILD_DIR%\Release\deploy\* -DestinationPath %BUILD_DIR%\Release\appproject-overwatch-win.zip

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: ${{ env.BUILD_DIR }}/Release/appproject-overwatch-win.zip

