#--------------------------------------------------------------------------------
# Workflow configuration
#--------------------------------------------------------------------------------

name: Build
on:
  push:               # Run on push
  pull_request:       # Run on pull-request

#--------------------------------------------------------------------------------
# Define application name & version
#--------------------------------------------------------------------------------

env:
  VERSION: "1.0.0"
  EXECUTABLE: "appproject-overwatch"
  APPLICATION: "appproject-overwatch"
  CMAKE_PROJECT: "CMakeLists.txt"

jobs:

  build-windows:
    runs-on: windows-latest
    steps:
      #
      # Checkout the repository
      #
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      #
      # Configure MSVC
      #
      - name: Configure MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
          spectre: true

      #
      # Install Qt
      #
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
          
      #
      # Install NSIS
      #  
      - name: Install NSIS
        run: |
             Invoke-Expression (New-Object System.Net.WebClient).DownloadString('https://get.scoop.sh')
             scoop bucket add extras
             scoop install nsis
 
      #
      # Compile application
      #
      - name: Compile
        run: |
             qmake ${{env.CMAKE_PROJECT}} CONFIG+=release
             nmake
             
      #
      # Copy Qt DLLs, compiler runtime & application icon
      #       
      - name: Deploy
        run: |
             mkdir bin
             move release/${{env.EXECUTABLE}}.exe bin
             windeployqt bin/${{env.EXECUTABLE}}.exe -qmldir="${{env.QML_DIR_WIN}}" --compiler-runtime
             mkdir "${{env.APPLICATION}}"
             move bin "${{env.APPLICATION}}"
             xcopy deploy\windows\resources\icon.ico "${{env.APPLICATION}}"
      
      #
      # Create NSIS installer
      #
      - name: Make NSIS installer
        run: |
             move "${{env.APPLICATION}}" deploy\windows\nsis\
             cd deploy\windows\nsis
             makensis /X"SetCompressor /FINAL lzma" setup.nsi
             ren *.exe ${{env.EXECUTABLE}}-${{env.VERSION}}-Windows.exe
             
      #
      # Upload installer to build artifacts
      #
      - name: Upload NSIS installer
        uses: actions/upload-artifact@v2
        with:
          name: ${{env.EXECUTABLE}}-${{env.VERSION}}-Windows.exe
          path: deploy/windows/nsis/${{env.EXECUTABLE}}-${{env.VERSION}}-Windows.exe
