      - name: Bundle Qt dependencies
        shell: pwsh
        run: |
          $EXE = Get-ChildItem -Path "${{ env.BUILD_DIR }}\Release" -Filter *.exe -Recurse | Select-Object -First 1
          if (-not $EXE) { Write-Error "❌ No .exe found in build/Release!"; exit 1 }

          Write-Host "✅ Found executable: $($EXE.FullName)"

          $Qmake = Get-Command qmake | Select-Object -ExpandProperty Source
          Write-Host "qmake path: $Qmake"

          $QtDir = & $Qmake -query QT_INSTALL_PREFIX
          Write-Host "QtDir = $QtDir"

          $Windeploy = Join-Path $QtDir "bin\windeployqt.exe"
          Write-Host "windeployqt path: $Windeploy"

          $QML_DIR = Join-Path $PWD "QML"
          Write-Host "Using QML Dir = $QML_DIR"

          & "$Windeploy" "$($EXE.FullName)" --release --qmldir "$QML_DIR" --compiler-runtime

      - name: Copy project QML files
        shell: pwsh
        run: |
          $QML_SOURCE = Join-Path $PWD "QML"
          $QML_DEST = Join-Path "${{ env.BUILD_DIR }}\Release" "QML"

          Write-Host "Copying QML from $QML_SOURCE to $QML_DEST..."
          Copy-Item "$QML_SOURCE" "$QML_DEST" -Recurse -Force

